Repository econ-ark/DemARK: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, trailing-whitespace, end-of-file-fixer

markdown-lint:
  name: Lint Markdown files
  entry: python tools/lint_markdown.py
  language: system
  description: Lint markdown files using enhanced wrapper

trailing-whitespace:
  name: Trailing whitespace
  language: system
  entry: sed
  args:
  - -i
  - s/[[:space:]]*$//
  description: Remove trailing whitespace

end-of-file-fixer:
  name: End of file fixer
  language: system
  entry: sed
  args:
  - -i
  - -e
  - $a\\
  description: Ensure files end with newline

Fixed typo in Fisher2period notebook
  notebooks/FisherTwoPeriod.ipynb
Due: none

Clear outputs from FisherTwoPeriod notebook to fix nbval error
  notebooks/FisherTwoPeriod.ipynb
Due: none

Added Durables Notebook
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Changed seaborn grrid version to make it campatible with sys requirements
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Fixed a typo
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Repair notebook for changes to unpack
  notebooks/IncExpectationExample.ipynb
Due: none

Repair nondurables notebook
  notebooks/IncExpectationExample.ipynb
  notebooks/Nondurables-During-Great-Recession.ipynb
Due: none

Added Files from Jupyter Repo
  markdown/DSGE-RA-K-Dynamics-Problems.md
  markdown/RamseyCassKoopmans.md
  markdown/The-Prescott-Real-Business-Cycle-RBC.md
  notebooks/DSGE-RA-K-Dynamics-Problems.ipynb
  notebooks/RamseyCassKoopmans.ipynb
  notebooks/The-Prescott-Real-Business-Cycle-RBC.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Fixed RC notebook
  notebooks/RamseyCassKoopmans.ipynb
Due: none

Fixed RBC notebook
  notebooks/The-Prescott-Real-Business-Cycle-RBC.ipynb
Due: none

Added dependencies in environment.yaml file
  binder/environment.yml
Due: trailing-whitespace, end-of-file-fixer

Ignore RBC notebook during tests
  .github/workflows/build.yml
  notebooks/The-Prescott-Real-Business-Cycle-RBC.ipynb
Due: trailing-whitespace, end-of-file-fixer

Update HARK branch in environment.yml
  binder/environment.yml
Due: trailing-whitespace, end-of-file-fixer

Change argument names in LC notebook
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
Due: none

Fix parameter names in a few notebooks
  notebooks/Alternative-Combos-Of-Parameter-Values.ipynb
  notebooks/FisherTwoPeriod.ipynb
  notebooks/Gentle-Intro-To-HARK-Buffer-Stock-Model.ipynb
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
  notebooks/Micro-and-Macro-Implications-of-Very-Impatient-HHs.ipynb
  notebooks/Structural-Estimates-From-Empirical-MPCs-Fagereng-et-al.ipynb
Due: none

Add RamseyCassKoopmans and Prescott RBC notebooks and markdown files
  markdown/RamseyCassKoopmans.md
  markdown/The-Prescott-Real-Business-Cycle-RBC.md
  notebooks/RamseyCassKoopmans.ipynb
  notebooks/The-Prescott-Real-Business-Cycle-RBC.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Add PalgravePrecautionary notebook and markdown, fix warnings in RBC notebook
  markdown/PalgravePrecautionary.md
  notebooks/PalgravePrecautionary.ipynb
  notebooks/The-Prescott-Real-Business-Cycle-RBC.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Update notebook files for readability and remove unused file
  notebooks/DiamondOLG.ipynb
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
  notebooks/LifeCycleModelTheoryVsData.ipynb
  notebooks/Lorenz_cstwRS_20180713-0642h.p
Due: none

Add PortfolioCRRA notebook and markdown file
  markdown/PortfolioCRRA.md
  notebooks/PortfolioCRRA.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Fix duplicate cell in new notebook
  notebooks/PortfolioCRRA.ipynb
Due: none

Add EquiprobableExample notebook and markdown file
  markdown/EquiprobableExample.md
  notebooks/EquiprobableExample.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Rename equiprobable files and save figures to a new folder
  markdown/Equiprobable.md
  notebooks/Equiprobable.ipynb
  notebooks/EquiprobableExample.ipynb
  notebooks/Figures/Equiprobable.jpg
  notebooks/Figures/Equiprobable.pdf
  notebooks/Figures/Equiprobable.png
  notebooks/Figures/Equiprobable.svg
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

fix plot names part 2
  notebooks/Chinese-Growth.ipynb
  notebooks/PerfForesightCRRA-Approximation.ipynb
  notebooks/PerfForesightCRRA-SavingRate.ipynb
  notebooks/PortfolioCRRA.ipynb
  notebooks/RamseyCassKoopmans.ipynb
  notebooks/The-Prescott-Real-Business-Cycle-RBC.ipynb
  notebooks/TractableBufferStock-Interactive.ipynb
Due: none

Update workflows, configuration, and documentation for consistency and new content
  .github/workflows/build.yml
  .github/workflows/transfer-demark-metadata.yml
  .gitignore
  README.md
  _config.yml
  _toc.yml
  binder/environment.yml
  markdown/Durables-vs-Nondurables-At-Low-And-High-Frequencies.md
  myst.yml
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Update markdown files to include notebook paths and add date-released fields
  markdown/Alternative-Combos-Of-Parameter-Values.md
  markdown/ChangeLiqConstr.md
  markdown/Chinese-Growth.md
  markdown/DCEGM-Upper-Envelope.md
  markdown/DiamondOLG.md
  markdown/Durables-vs-Nondurables-At-Low-And-High-Frequencies.md
  markdown/FisherTwoPeriod.md
  markdown/Gentle-Intro-To-HARK-Buffer-Stock-Model.md
  markdown/Gentle-Intro-To-HARK-PerfForesightCRRA.md
  markdown/Harmenberg-Aggregation.md
  markdown/IncExpectationExample.md
  markdown/KeynesFriedmanModigliani.md
  markdown/LC-Model-Expected-Vs-Realized-Income-Growth.md
  markdown/LifeCycleModelTheoryVsData.md
  markdown/Lucas-Asset-Pricing-Model.md
  markdown/MPC-Out-of-Credit-vs-MPC-Out-of-Income.md
  markdown/Micro-and-Macro-Implications-of-Very-Impatient-HHs.md
  markdown/Nondurables-During-Great-Recession.md
  markdown/PerfForesightCRRA-Approximation.md
  markdown/PerfForesightCRRA-SavingRate.md
  markdown/Structural-Estimates-From-Empirical-MPCs-Fagereng-et-al.md
  markdown/TractableBufferStock-Interactive.md
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Add pytest-xdist for parallel testing and update comments in metadata transfer workflow
  .github/workflows/build.yml
  .github/workflows/transfer-demark-metadata.yml
Due: trailing-whitespace, end-of-file-fixer

Refactor code structure for improved readability and maintainability
  .github/workflows/deploy.yml
  .gitignore
  .python-version
  README.md
  _config.yml
  _toc.yml
  myst.yml
  pyproject.toml
  uv.lock
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Remove base URL parameter from HTML asset build command in deploy workflow
  .github/workflows/deploy.yml
Due: trailing-whitespace, end-of-file-fixer

Remove base URL parameter from HTML asset build command in deploy workflow (#237)
  .github/workflows/deploy.yml
Due: trailing-whitespace, end-of-file-fixer

Have nbval ignore cell with widgets
  notebooks/PortfolioCRRA.ipynb
Due: none

Update markdown/PalgravePrecautionary.md
  markdown/PalgravePrecautionary.md
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Updated one NB due to HARK PR 1713
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
Due: none

Updated one NB due to HARK PR 1713 (#238)
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
Due: none

Revise calc_expectation to expected
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
  notebooks/Lucas-Asset-Pricing-Model.ipynb
Due: none

Require Python 3.12 to match HARK, and drop distutils
  .github/workflows/build.yml
  .python-version
  binder/environment.yml
  notebooks/Micro-and-Macro-Implications-of-Very-Impatient-HHs.ipynb
  pyproject.toml
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  markdown-lint: any of: \.md$, but not: ^(project/repos/|\.conda_env/|\.git/)
  trailing-whitespace: any of: \.(md|txt|py|yml|yaml|json)$
  end-of-file-fixer: any of: \.(md|txt|py|yml|yaml|json)$
