Repository econ-ark/DemARK: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, trailing-whitespace, end-of-file-fixer

markdown-lint:
  name: Lint Markdown files
  entry: python tools/lint_markdown.py
  language: system
  description: Lint markdown files using enhanced wrapper

trailing-whitespace:
  name: Trailing whitespace
  language: system
  entry: sed
  args:
  - -i
  - s/[[:space:]]*$//
  description: Remove trailing whitespace

end-of-file-fixer:
  name: End of file fixer
  language: system
  entry: sed
  args:
  - -i
  - -e
  - $a\\
  description: Ensure files end with newline

Run notebooks in the browser instead of on Binder
  README.md
  myst.yml
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Update mystmd to 1.10.1
  pyproject.toml
  uv.lock
Due: none

Regenerate uv.lock for the Python 3.12 floor
  uv.lock
Due: none

Make binder/environment.yml the only Python version pin
  .github/workflows/build.yml
  README.md
  binder/environment.yml
  myst.yml
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Drop the JupyterLite switch from this branch
  README.md
  myst.yml
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Gate the JupyterLite switch on econ-ark actually supporting Pyodide
  .github/scripts/check_jupyterlite_ready.py
  .github/scripts/testdata/econ-ark-gated.json
  .github/scripts/testdata/econ-ark-ungated.json
  .github/workflows/jupyterlite-readiness.yml
Due: trailing-whitespace, end-of-file-fixer

Publish DemARK as an Econ-ARK themed MyST site
  .gitmodules
  README.md
  index.md
  myst.yml
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Put an Econ-ARK footer where the MyST badge was
  myst.yml
Due: trailing-whitespace, end-of-file-fixer

Check out the theme submodule in the Pages deploy
  .github/workflows/deploy.yml
Due: trailing-whitespace, end-of-file-fixer

Put the Econ-ARK mark in the sidebar footer
  myst.yml
Due: trailing-whitespace, end-of-file-fixer

Subset the fonts in the deploy, and stop three pages titling themselves twice
  .github/workflows/deploy.yml
  notebooks/ChangeLiqConstr.ipynb
  notebooks/IncExpectationExample.ipynb
  notebooks/KeynesFriedmanModigliani.ipynb
Due: trailing-whitespace, end-of-file-fixer

Advance the theme submodule, and follow its assets into brand/
  myst.yml
Due: trailing-whitespace, end-of-file-fixer

Fix the math the site could not render
  notebooks/Gentle-Intro-To-HARK-Buffer-Stock-Model.ipynb
  notebooks/Gentle-Intro-To-HARK-PerfForesightCRRA.ipynb
  notebooks/Harmenberg-Aggregation.ipynb
  notebooks/KeynesFriedmanModigliani.ipynb
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
  notebooks/Micro-and-Macro-Implications-of-Very-Impatient-HHs.ipynb
  notebooks/PerfForesightCRRA-SavingRate.ipynb
  notebooks/TractableBufferStock-Interactive.ipynb
  scripts/sync-math-macros.py
Due: trailing-whitespace, end-of-file-fixer

Drop the launch badge, fix two more equations, and advance the theme
  notebooks/Alternative-Combos-Of-Parameter-Values.ipynb
  notebooks/ChangeLiqConstr.ipynb
  notebooks/Chinese-Growth.ipynb
  notebooks/DCEGM-Upper-Envelope.ipynb
  notebooks/DiamondOLG.ipynb
  notebooks/FisherTwoPeriod.ipynb
  notebooks/Gentle-Intro-To-HARK-Buffer-Stock-Model.ipynb
  notebooks/Gentle-Intro-To-HARK-PerfForesightCRRA.ipynb
  notebooks/Harmenberg-Aggregation.ipynb
  notebooks/IncExpectationExample.ipynb
  notebooks/KeynesFriedmanModigliani.ipynb
  notebooks/LC-Model-Expected-Vs-Realized-Income-Growth.ipynb
  notebooks/LifeCycleModelTheoryVsData.ipynb
  notebooks/Lucas-Asset-Pricing-Model.ipynb
  notebooks/MPC-Out-of-Credit-vs-MPC-Out-of-Income.ipynb
  notebooks/Micro-and-Macro-Implications-of-Very-Impatient-HHs.ipynb
  notebooks/Nondurables-During-Great-Recession.ipynb
  notebooks/PerfForesightCRRA-Approximation.ipynb
  notebooks/PerfForesightCRRA-SavingRate.ipynb
  notebooks/Structural-Estimates-From-Empirical-MPCs-Fagereng-et-al.ipynb
Due: none

Correct what the README and the landing claim
  README.md
  index.md
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Group the twenty-two by what each notebook is about
  index.md
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Give a group of three its own three columns, and take the centred theme
  index.md
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Teach the macro sync the spelling the notebooks use
  scripts/sync-math-macros.py
Due: trailing-whitespace, end-of-file-fixer

Give the phone its navigation, in the order the index reads
  index.md
  myst.yml
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Move Keynes-Friedman-Modigliani to the Intertemporal Choice book
  README.md
  index.md
  markdown/KeynesFriedmanModigliani.md
  myst.yml
  notebooks/KeynesFriedmanModigliani.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Keep the notebook's title, Keynes, Friedman, Modigliani, on its landing card
  index.md
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Keep KeynesFriedmanModigliani in DemARK: runnable, linkable, figures saved
  notebooks/KeynesFriedmanModigliani.ipynb
  notebooks/KeynesFriedmanModigliani/fred-20-quarter-change-consumption-vs-income.pdf
  notebooks/KeynesFriedmanModigliani/fred-20-quarter-change-consumption-vs-income.png
  notebooks/KeynesFriedmanModigliani/fred-consumption-vs-income-levels.pdf
  notebooks/KeynesFriedmanModigliani/fred-consumption-vs-income-levels.png
  notebooks/KeynesFriedmanModigliani/fred-quarterly-change-consumption-vs-income.pdf
  notebooks/KeynesFriedmanModigliani/fred-quarterly-change-consumption-vs-income.png
  notebooks/KeynesFriedmanModigliani/fred-real-consumption-over-time.pdf
  notebooks/KeynesFriedmanModigliani/fred-real-consumption-over-time.png
  notebooks/KeynesFriedmanModigliani/keynesian-consumption-function.pdf
  notebooks/KeynesFriedmanModigliani/keynesian-consumption-function.png
  notebooks/KeynesFriedmanModigliani/pih-consumption-function.pdf
  notebooks/KeynesFriedmanModigliani/pih-consumption-function.png
  notebooks/KeynesFriedmanModigliani/pih-simulated-high-permanent-income-variance.pdf
  notebooks/KeynesFriedmanModigliani/pih-simulated-high-permanent-income-variance.png
  notebooks/KeynesFriedmanModigliani/pih-simulated-low-permanent-income-variance.pdf
  notebooks/KeynesFriedmanModigliani/pih-simulated-low-permanent-income-variance.png
Due: none

Read FRED directly in the durables notebook; drop its pip installs
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Drop pandas-datareader from the dependencies
  binder/environment.yml
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer

Make KFM's saved figures identical on every machine
  notebooks/KeynesFriedmanModigliani.ipynb
  notebooks/KeynesFriedmanModigliani/fred-20-quarter-change-consumption-vs-income.pdf
  notebooks/KeynesFriedmanModigliani/fred-20-quarter-change-consumption-vs-income.png
  notebooks/KeynesFriedmanModigliani/fred-consumption-vs-income-levels.pdf
  notebooks/KeynesFriedmanModigliani/fred-consumption-vs-income-levels.png
  notebooks/KeynesFriedmanModigliani/fred-quarterly-change-consumption-vs-income.pdf
  notebooks/KeynesFriedmanModigliani/fred-quarterly-change-consumption-vs-income.png
  notebooks/KeynesFriedmanModigliani/fred-real-consumption-over-time.pdf
  notebooks/KeynesFriedmanModigliani/fred-real-consumption-over-time.png
  notebooks/KeynesFriedmanModigliani/keynesian-consumption-function.pdf
  notebooks/KeynesFriedmanModigliani/keynesian-consumption-function.png
  notebooks/KeynesFriedmanModigliani/pih-consumption-function.pdf
  notebooks/KeynesFriedmanModigliani/pih-consumption-function.png
  notebooks/KeynesFriedmanModigliani/pih-simulated-high-permanent-income-variance.pdf
  notebooks/KeynesFriedmanModigliani/pih-simulated-high-permanent-income-variance.png
  notebooks/KeynesFriedmanModigliani/pih-simulated-low-permanent-income-variance.pdf
  notebooks/KeynesFriedmanModigliani/pih-simulated-low-permanent-income-variance.png
Due: none

Plot the simulated consumption the PIH regressions fit
  notebooks/KeynesFriedmanModigliani.ipynb
  notebooks/KeynesFriedmanModigliani/pih-simulated-high-permanent-income-variance.pdf
  notebooks/KeynesFriedmanModigliani/pih-simulated-high-permanent-income-variance.png
  notebooks/KeynesFriedmanModigliani/pih-simulated-low-permanent-income-variance.pdf
  notebooks/KeynesFriedmanModigliani/pih-simulated-low-permanent-income-variance.png
Due: none

Declare seaborn and statsmodels, which four notebooks import
  binder/environment.yml
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer

Fix typos in KeynesFriedmanModigliani
  notebooks/KeynesFriedmanModigliani.ipynb
Due: none

Say what the levels vs first-difference disagreement means
  notebooks/KeynesFriedmanModigliani.ipynb
Due: none

Read KFM's FRED data from a dated snapshot by default
  notebooks/KeynesFriedmanModigliani.ipynb
  notebooks/KeynesFriedmanModigliani/fred-PCECC96-DPIC96-2026-09-24.csv
Due: none

Use real, not nominal, spending in the durables notebook
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Durables notebook: drop the closing claim that rested on correlation
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Durables notebook: deflate both series by the PCE price index
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Durables notebook: run through the latest quarter on FRED, not 2018
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Add openpyxl to the DemARK environment
  binder/environment.yml
  pyproject.toml
  uv.lock
Due: trailing-whitespace, end-of-file-fixer

Durables notebook: graph the stock of motor vehicles relative to spending on nondurables and services
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Fix the worked example in PerfForesightCRRA-Approximation
  notebooks/PerfForesightCRRA-Approximation.ipynb
Due: none

Lock econ-ark 0.17.2, and declare the sympy it imports
  pyproject.toml
  uv.lock
Due: none

Durables notebook: say that "real" means deflated by the broad PCE index
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
Due: none

Path conditions:
  markdown-lint: any of: \.md$, but not: ^(project/repos/|\.conda_env/|\.git/)
  trailing-whitespace: any of: \.(md|txt|py|yml|yaml|json)$
  end-of-file-fixer: any of: \.(md|txt|py|yml|yaml|json)$
