Repository econ-ark/DemARK: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, trailing-whitespace, end-of-file-fixer

markdown-lint:
  name: Lint Markdown files
  entry: python tools/lint_markdown.py
  language: system
  description: Lint markdown files using enhanced wrapper

trailing-whitespace:
  name: Trailing whitespace
  language: system
  entry: sed
  args:
  - -i
  - s/[[:space:]]*$//
  description: Remove trailing whitespace

end-of-file-fixer:
  name: End of file fixer
  language: system
  entry: sed
  args:
  - -i
  - -e
  - $a\\
  description: Ensure files end with newline

Name the patience factors, not the conditions, as what approaches 1
  notebooks/PerfForesightCRRA-Approximation.ipynb
Due: none

Durables notebook: read the last download of its data unless asked to fetch
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies.ipynb
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies/bea-motor-vehicle-stock-2026-10-05.csv
  notebooks/Durables-vs-Nondurables-At-Low-And-High-Frequencies/fred-PCDG-PCND-PCECTPI-PCESV-2026-10-05.csv
Due: none

Divide by last period's assets in levels in LifeCycleModelTheoryVsData
  notebooks/LifeCycleModelTheoryVsData.ipynb
Due: none

Run the baseline model the MPC-Out-of-Credit text describes
  notebooks/MPC-Out-of-Credit-vs-MPC-Out-of-Income.ipynb
Due: none

Build all seven discount-factor types in IncExpectationExample
  notebooks/IncExpectationExample.ipynb
Due: none

Plot the optimal bundle FisherTwoPeriod's model actually chooses
  notebooks/FisherTwoPeriod.ipynb
Due: none

Rename PerfForesightCRRA-Approximation to PerfForesightCRRA-Convergence
  markdown/PerfForesightCRRA-Convergence.md
  notebooks/PerfForesightCRRA-Convergence.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Refocus the notebook on how close HARK's backward iteration gets
  index.md
  markdown/PerfForesightCRRA-Approximation.md
  markdown/PerfForesightCRRA-Convergence.md
  myst.yml
  notebooks/PerfForesightCRRA-Approximation.ipynb
  notebooks/PerfForesightCRRA-Convergence.ipynb
Due: markdown-lint, trailing-whitespace, end-of-file-fixer

Store ChangeLiqConstr's first cell as a list of lines
  notebooks/ChangeLiqConstr.ipynb
Due: none

Remove the workflow that pushed DemARK's metadata to econ-ark.org
  .github/workflows/transfer-demark-metadata.yml
Due: trailing-whitespace, end-of-file-fixer

Show the HARK tools the convergence notebook rests on
  notebooks/PerfForesightCRRA-Convergence.ipynb
Due: none

Show LifeCycleModelTheoryVsData's age-65 figures at age 65
  notebooks/LifeCycleModelTheoryVsData.ipynb
Due: none

Simulate IncExpectationExample long enough to reach its stationary distribution
  notebooks/IncExpectationExample.ipynb
Due: none

Write end-of-period human wealth as 𝔥, distinct from h
  notebooks/PerfForesightCRRA-Convergence.ipynb
Due: none

Path conditions:
  markdown-lint: any of: \.md$, but not: ^(project/repos/|\.conda_env/|\.git/)
  trailing-whitespace: any of: \.(md|txt|py|yml|yaml|json)$
  end-of-file-fixer: any of: \.(md|txt|py|yml|yaml|json)$
